/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

/* ACCORDION COMPONENT */

.accordion {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  /*
  first value: horizontal offset
  second value: vertical offset
  third value: blur
  */
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.item:hover {
  cursor: pointer;
}

.number,
.text {
  font-size: 24px;
  font-weight: 700;
}

.number {
  color: #adb5bd;
}

.icon {
  width: 24px;
  height: auto;
  stroke: #adb5bd;
}

.hidden-box {
  grid-column: 2;

  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  font-weight: 500;
}

.hidden-box ul {
  color: #495057;
  margin-left: 20px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 3px solid #087f5b;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #087f5b;
}

.open .icon {
  stroke: #087f5b;
  transform: rotate(180deg);
}
/* ------------------- */

/* CAROUSEL COMPONENT */

.carousel {
  width: 800px;
  margin: 100px auto;
  padding: 32px 48px 32px 86px;
  border-radius: 8px;

  display: none;
  align-items: center;
  gap: 86px;

  position: relative;
}

.carousel-active {
  display: flex;
}

.carousel--green {
  background-color: #087f5b;
}

.carousel--red {
  background-color: #f03e3e;
}

.carousel--blue {
  background-color: #228be6;
}

.carousel--yellow {
  background-color: #f59f00;
}

.carousel-img {
  height: 200px;
  width: auto;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}
.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

.carousel-btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* Father Element is the carousel which have position relative*/
  position: absolute;

  /* To center the icon */
  display: flex;
  align-items: center;
  justify-content: center;

  /* BOTH WAYS WORK */
  /* In the center minus half of the height of the button */
  /* top: calc(50% - 20px); 
  /* center it in 50% and then translate it vertically minus 50% of the element height (20px) */
  top: 50%;
  /* This property is overwrited in the left and right*/
  /* transform: translate(0, -50%); */
}

.btn-left {
  /* BOTH WAYS WORK */

  /* left: calc(0% - 20px); */
  /* Start at 0, and then move 50% of its own widht to the left*/
  left: 0;
  transform: translate(-50%, -50%);
}

.btn-right {
  /* BOTH WAYS WORK */

  /* right: calc(0% - 20px); */
  /* Start at 0, and then move 50% of its own widht to the right*/
  right: 0;
  transform: translate(50%, -50%);
}

.carousel-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;

  /* Start at the 50%, and then minus half of the space they occupy*/
  left: 50%;
  transform: translate(-50%, 32px);
  bottom: 0;

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;

  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--filled {
  background-color: #087f5b;
}
/* ------------------- */

/*   TABLE COMPONENT   */

table {
  width: 800px;
  margin: 100px auto;
  /* border: 1px solid #343a40;*/
  border-collapse: collapse;
}

thead tr {
  background-color: #087f5b;
  color: #fff;
}

thead th {
  width: 25%;
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

/* ------------------- */
